---
import { Flag } from "lucide-astro";
import figmaIcon from "../../assets/icons/figma.svg";
import desalaboImage from "../../assets/images/desalabo.png";
import mePcImage from "../../assets/images/me_pc.png";
import vFesImage from "../../assets/images/v-fes.png";
import BentoGrid from "../BentoGrid.astro";
import AboutCard from "../cards/AboutCard.astro";
import BrandCard from "../cards/BrandCard.astro";
import FeatureCard from "../cards/FeatureCard.astro";
import SkillListCard from "../cards/SkillListCard.astro";
import WorksCard from "../cards/WorksCard.astro";

const figmaUrl = "https://www.figma.com/@shuntaro1";

const skills = [
  "Figma",
  "Sketch",
  "TypeScript",
  "Ruby",
  "Swift",
  "React Native",
];
---

<BentoGrid>
  <div class="aspect-[463/219] sm:col-span-2 lg:col-start-1 lg:row-start-1 lg:aspect-auto lg:h-full">
    <AboutCard
      titleId="pr-title"
      headingTag="h2"
      image={mePcImage}
      imageAlt="PCを使うShuntaroのイラスト"
      imageClass="size-17 object-contain"
      prefix="What I’m"
      title="Passionate"
      suffix="About."
      description="デザインとフロントエンド開発が得意です。このページでは、今まで作ってきた作品や、PRポイントをまとめています。"
    />
  </div>

  <FeatureCard
    class="sm:col-start-1 lg:col-start-1 lg:row-start-2"
    titleId="golf-title"
    title="Golf"
    description="最近ベストスコアを更新して、とても嬉しいです。ドライバーが苦手なので練習中です。"
    icon={Flag}
    iconSize={25}
    visualClass="grid size-13 place-items-center rounded-full bg-golf text-white"
  />

  <SkillListCard
    class="sm:col-start-2 lg:col-start-2 lg:row-start-2"
    skills={skills}
  />

  <div class="aspect-square lg:col-start-4 lg:row-start-1">
    <BrandCard
      url={figmaUrl}
      ariaLabel="Figmaプロフィールを開く"
      backgroundClass="bg-black"
      image={figmaIcon}
      imageAlt="Figma"
      iconClass="size-17"
    />
  </div>

  <div class="aspect-[231/465] sm:col-start-1 lg:col-start-3 lg:row-span-2 lg:row-start-1 lg:aspect-auto lg:h-full">
    <WorksCard
      title="desalabo"
      image={desalaboImage}
      imageAlt="desalaboのデザイン画面"
      url="https://www.figma.com/design/JCuVWOWpIIuqqm9PR9hQJi/desalabo?node-id=69-604&t=ktwPIXzptoyWsY0O-1"
    />
  </div>

  <div class="aspect-[231/465] sm:col-start-2 lg:col-start-4 lg:row-span-2 lg:row-start-2 lg:aspect-auto lg:h-full">
    <WorksCard
      title="V-fes"
      image={vFesImage}
      imageAlt="V-fes Appのデザイン画面"
      url="https://www.figma.com/design/coR3LlOJ6ipobMLsduN5DT/V-fes-App?node-id=1545-1079&t=OrjFR9Jt9qBH9sjR-1"
    />
  </div>
</BentoGrid>
