---
import AboutCard from "../cards/AboutCard.astro";
import ImageCard from "../cards/ImageCard.astro";
import WeatherCard from "../cards/WeatherCard.astro";
import awaodoriImage from "../../assets/images/awaodori.jpg";
import museumImage from "../../assets/images/ootuka.jpg";
import yakimochiImage from "../../assets/images/yakimochi.png";
---

<div
  class="grid grid-cols-1 items-start gap-6 sm:grid-cols-[repeat(2,minmax(0,13rem))] lg:grid-cols-[repeat(4,14.5rem)] lg:auto-rows-[14.5rem]"
>
  <div
    class="aspect-square sm:col-span-2 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:aspect-auto lg:h-full"
  >
    <ImageCard
      titleId="awaodori-title"
      label="Awaodori 🕺"
      image={awaodoriImage}
      imageAlt="阿波おどりの様子"
      url="https://ja.wikipedia.org/wiki/阿波踊り"
    />
  </div>

  <div class="aspect-square lg:col-start-3 lg:row-start-1">
    <WeatherCard />
  </div>

  <article
    class="flex aspect-square flex-col justify-between rounded-4xl bg-white p-6 lg:col-start-4 lg:row-start-1"
    aria-labelledby="yakimochi-title"
  >
    <img
      src={yakimochiImage.src}
      width={yakimochiImage.width}
      height={yakimochiImage.height}
      alt="滝のやきもち"
      class="h-20 w-27 object-contain object-left"
    />
    <div class="min-w-0">
      <h2
        id="yakimochi-title"
        class="mt-2 text-lg font-bold leading-tight text-black"
      >
        滝のやきもち
      </h2>
      <p class="mt-2 text-xs font-medium leading-relaxed text-black/55">
        美味しい和菓子なので、焼き立てを食べることをおすすめします。
      </p>
    </div>
  </article>

  <div class="sm:col-span-2 lg:col-start-1 lg:row-start-3 lg:aspect-auto lg:h-full">
    <AboutCard
      titleId="tokushima-about-title"
      headingTag="h2"
      showImage={false}
      prefix="I live in"
      title="Tokushima."
      suffix=""
      description="正直にいうと徳島は何もないです。でも住みやすい場所ではあると思います。そんな徳島のごくわずかなスポットを集めました。ここに載せていないものだと、お遍路や鳴門の渦潮なんかもありますね。一度訪れてみてください。"
    />
  </div>

  <div
    class="aspect-square sm:col-span-2 lg:col-start-3 lg:row-span-2 lg:row-start-2 lg:aspect-auto lg:h-full"
  >
    <ImageCard
      titleId="museum-title"
      label="大塚国際美術館"
      image={museumImage}
      imageAlt="大塚国際美術館"
      url="https://ja.wikipedia.org/wiki/大塚国際美術館"
    />
  </div>
</div>
